{% extends 'package/snippets/resource_form.html' %}

{% block errors %}
  {%- if errors -%}
    {%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}
    {%- snippet 'scheming/snippets/errors.html',
      errors=errors, fields=schema.resource_fields,
      entity_type='dataset', object_type=dataset_type -%}
  {%- endif -%}
{% endblock %}

{% block basic_fields %}
  {%- if not dataset_type -%}
    <p>
    dataset_type not passed to template. your version of CKAN
    might not be compatible with ckanext-scheming
    </p>
  {%- endif -%}
  <p style="color:red">
   (*) Subir un dataset al repositorio REDIA implica la aceptación de los <a href="http://rdm.inia.es/pages/licencia-deposito-de-datos">términos y condiciones</a> del portal, recuerde que tamaño máximo de un Dataset es de 10 MB. 
  </p>
  {%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}
  {%- for field in schema.resource_fields -%}
    {%- snippet 'scheming/snippets/form_field.html',
      field=field, data=data, errors=errors,
      entity_type='dataset', object_type=dataset_type -%}
  {%- endfor -%}
{% endblock %}

{% block metadata_fields %}
{% endblock %}
